In [5]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import os

#abertura de bases
os.chdir('C:/Users/f8026379/Documents/MANP/1.Alteryx Projects/Capacity Dimensioning/W51_2019')
df_DDS=pd.read_excel('Relatório de Ocupação de Células 4G – Semanal_W51_v2.xlsx',sheet_name='W51_Ocupação de Célula_Reproc',skiprows=2)
df_si=pd.read_csv('REPORT_SI_SI_20200115_030002.csv',sep=';',error_bad_lines=False,usecols=['REGIONAL','UF','ANF','MUNICIPIO','IBGE_ID','LOCATION','CS_NAME','LATITUDE','LONGITUDE','AZIMUTH'])
df_si=df_si[df_si['CS_NAME'].notnull()]

In [6]:
df_DDS.head()

,Fornecedor,Regional,Estado,ANF,Município,IBGE,Banda,Classificação Populacional,BTS/NodeB/ENodeB,Célula,...,Fator_Plan_LT,Vol_Total_Dl_Allop_LT,Throu_Pdcp_Cell_Dl_LT,Throu_User _Pdcp_Dl_LT,Act_Ue_Data_Dl_LT,User_Endb_Mean_Cell_LT,Cqi_Mean_LT,Prb_Util_Mean_Dl_LT,Tti_Util_LT,Util_LT
0,ERICSSON,ND,ND,0,ND,0,ND,ND,MKTA1_SP,TKTA1_SP1,...,252.236189,3.301035e+06,13087.079691,11589.797917,0.958531,113.656389,9.110998,41.500000,0.570774,0.573982
1,ERICSSON,ND,ND,0,ND,0,ND,ND,MKTA1_SP,TKTA1_SP2,...,232.739165,4.424200e+06,19009.264893,16227.999781,0.852918,86.029861,9.837478,42.416667,0.520163,0.529615
2,ERICSSON,ND,ND,0,ND,0,ND,ND,MKTA1_SP,TKTA1_SP3,...,229.064117,3.974895e+06,17352.763414,18881.049973,0.820874,96.665556,10.503595,35.600000,0.515087,0.521252
3,ERICSSON,ND,ND,0,ND,0,ND,ND,MVMG2_SP,TVMG2_SP1,...,158.481873,2.930241e+06,18489.442021,11544.963153,0.812138,74.920833,10.976419,55.500000,0.360634,0.360637
4,ERICSSON,ND,ND,0,ND,0,ND,ND,MVMG2_SP,TVMG2_SP2,...,222.949219,3.158698e+06,14167.792378,14311.774068,0.760914,98.583333,10.404705,35.666667,0.507333,0.507337

In [7]:
#criação dos Data Frames reduzidos
df_cells=DataFrame([])
df_cells['Fornecedor']=df_DDS['Fornecedor']
df_cells['Regional']=df_DDS['Regional']
df_cells['UF']=df_DDS['Estado']
df_cells['ANF']=df_DDS['ANF']
df_cells['MUNICIPIO']=df_DDS['Município']
df_cells['IBGE']=df_DDS['IBGE']
df_cells['Site_ID']=df_DDS['BTS/NodeB/ENodeB']
df_cells['Cell']=df_DDS['Célula']
df_cells['Banda']=df_DDS['Banda']
df_cells['Week']=df_DDS['Semana do Ano']
df_cells['Hora']=df_DDS['Hora']
df_cells['Volume']=round(df_DDS['Vol_Total_Dl_Allop_LT'],2)
df_cells['Cell_Thp']=round(df_DDS['Throu_Pdcp_Cell_Dl_LT'],2)
df_cells['User_Thp']=round(df_DDS['Throu_User _Pdcp_Dl_LT'],2)
df_cells['RRCa']=round(df_DDS['Act_Ue_Data_Dl_LT'],2)
df_cells['RRCc']=round(df_DDS['User_Endb_Mean_Cell_LT'],2)
df_cells['Utilization']=round(df_DDS['Util_LT'],2)
df_cells.dropna(axis=0,subset=['Volume'],inplace=True)

df_station=DataFrame([])
df_station['Regional']=df_si['REGIONAL']
df_station['UF']=df_si['UF']
df_station['ANF']=df_si['ANF']
df_station['MUNICIPIO']=df_si['MUNICIPIO']
df_station['IBGE']=df_si['IBGE_ID']
df_station['LOCATION']=df_si['LOCATION']
df_station['Cell']=df_si['CS_NAME']
df_station['LATITUDE']=df_si['LATITUDE']
df_station['LONGITUDE']=df_si['LONGITUDE']
df_station['Azimuth']=df_si['AZIMUTH']
#df_station.drop(axis=0,inplace=True)

#De_para de células para setores
sector={'5':'1','6':'2','7':'3','0':'1','8':'1','9':'1','i':'1','j':'2','k':'3','1':'1','2':'2','3':'3','4':'4','A':'1','B':'2','C':'3','D':'4','E':'1','F':'2','G':'3','H':'4','I':'1','J':'2','K':'3','L':'4','M':'1','N':'2','O':'3','P':'4','Q':'1','R':'2','S':'3','T':'1','U':'2','V':'3','W':'4','X':'1','Y':'2','Z':'3'}

#extrai letra identificadora da célula
def celula(c):
    return c.upper()[-1]

#converte "ND" por frequencia via regra geral
def layer_nd(a,b):
    banda={'1':'2600','2':'2600','3':'2600','4':'2600','A':'2600','B':'2600','C':'2600','D':'2600','E':'700','F':'700','G':'700','H':'700','I':'1800','J':'1800','K':'1800','L':'1800','M':'850','N':'850','O':'850','P':'850','Q':'2100','R':'2100','S':'2100','T':'1800','U':'1800','V':'1800','W':'1800','X':'2600','Y':'2600','Z':'2600'}
    if a=='ND':
        c=banda[b]
    else:
        c=a
    return c

#recupera o nome do site id sem letra da célula
def site_name(s):
    return s[:len(s)-1]

#Recupera nome do site 2G
def Site_2G(x,y):
    return x[-6:]+y

#converte latutide
def conv_latitude(l):
    latf=float(l)
    g=int(latf)
    m=int(60*(latf-g))
    s=60*(60*(latf-g)-m)
    if abs(g)<10:
        g='0'+str(abs(g))
    else:
        g=str(abs(g))
    if abs(m)<10:
        m='0'+str(abs(m))
    else:
        m=str(abs(m))
    if abs(s)<10:
        s='0'+str(abs(s))
    else:
        s=str(abs(s))
    if len(s)<5:
        s=s+'0'
    else:
        s=s[0:5]
    if latf<0:
        c=' S'
    else:
        c=' N'
    lat= g +' '+ m +' '+ s + c    
    return lat

#converte longitude
def conv_longitude(l):
    lonf=float(l)
    g=int(lonf)
    m=int(60*(lonf-g))
    s=60*(60*(lonf-g)-m)
    if abs(g)<10:
        g='0'+str(abs(g))
    else:
        g=str(abs(g))
    if abs(m)<10:
        m='0'+str(abs(m))
    else:
        m=str(abs(m))
    if abs(s)<10:
        s='0'+str(abs(s))
    else:
        s=str(abs(s))
    if len(s)<5:
        s=s+'0'
    else:
        s=s[0:5]
    if lonf<0:
        c=' W'
    else:
        c=' E'
    lon= g +' '+ m +' '+ s + c    
    return lon


#remove colunas do df que contem a string s
def remove_column(df,s):
    x=df.columns
    c=[]
    for i in x:
        if s in i:
            c.append(i)
        else:
            pass
    return df.drop(columns=c,axis=1)

#criação de colunas auxiliares
df_cells['cell_id'] = df_cells['Cell'].apply(celula)
df_cells['sector']=df_cells['cell_id'].map(sector)
df_cells['Sector_name']=df_cells.Site_ID+ df_cells.sector
df_cells['Layer']=df_cells.apply(lambda row: layer_nd(row['Banda'], row['cell_id']), axis=1)
df_cells['Cell_2G']=df_cells.apply(lambda row: Site_2G(row['Site_ID'], row['cell_id']), axis=1)
df_cells['Sector_2G']=df_cells.apply(lambda row: Site_2G(row['Site_ID'], row['sector']), axis=1)


df_station['cell_id'] = df_station['Cell'].apply(celula)
df_station['Site_ID']=df_station['Cell'].apply(site_name)
df_station['sector']=df_station['cell_id'].map(sector)
df_station['Sector_name']=df_station.Site_ID+ df_station.sector
df_station['Cell_2G']=df_station.apply(lambda row: Site_2G(row['Site_ID'], row['cell_id']), axis=1)
df_station['Sector_2G']=df_station.apply(lambda row: Site_2G(row['Site_ID'], row['sector']), axis=1)
df_station['latitude']=df_station['LATITUDE'].apply(conv_latitude)
df_station['longitude']=df_station['LONGITUDE'].apply(conv_longitude)

In [8]:
#Join medição e NGNIS
inner_cells=pd.merge(df_station,df_cells,on=['IBGE','Cell'],suffixes=('_l',''),how='inner')
inner_cells.drop_duplicates(subset='Cell',inplace=True)

#Celulas com medição fora do NGNIS iteração 1 pela celula 2G
outer_cells=pd.merge(df_station,df_cells,on=['IBGE','Cell'],suffixes=('_l',''),how='right')
outer_cells=outer_cells[outer_cells.Regional_l.isnull()]
outer_cells.dropna(axis=1,how='all',inplace=True)
outer_cells=pd.merge(df_station,outer_cells,on=['IBGE','Cell_2G'],suffixes=('_l',''),how='inner')
outer_cells.Cell_l=outer_cells.Cell
outer_cells.drop_duplicates(subset='Cell',inplace=True)


#União_1
Base=pd.concat([outer_cells,inner_cells],ignore_index=True,sort=False)
Base=remove_column(Base,'_l')

#Celulas com medição fora do NGNIS iteração 2 pelo setor 2G
out_base=pd.merge(Base,df_cells,on=['IBGE','Cell'],suffixes=('_l',''),how='right')
out_base=out_base[out_base.Regional_l.isnull()]
out_base.dropna(axis=1,how='all',inplace=True)
out_base=pd.merge(df_station,out_base,on=['IBGE','Sector_2G'],suffixes=('_l',''),how='inner')
out_base.Cell_l=out_base.Cell
out_base.drop_duplicates(subset='Cell',inplace=True)
out_base=remove_column(out_base,'_l')

#Unicão_2
Base=pd.concat([Base,out_base],ignore_index=True,sort=False)


# Specify a writer
writer = pd.ExcelWriter('Report.xlsx', engine='xlsxwriter')
# Write your DataFrame to a file     
#df_cells.to_excel(writer, 'test',index=False)
#df_station.to_excel(writer, 'Stations',index=False)
Base.to_excel(writer, 'Base',index=False)
inner_cells.to_excel(writer, 'Inner',index=False)
outer_cells.to_excel(writer, 'Outer',index=False)
out_base.to_excel(writer, 'Out_base',index=False)
writer.save()